:root {
  --slide_in_time: .5s;
  --color_normal_nav_icon: #eef;
  --color_normal_nav_text: #eef;
  --color_active_nav_text: #bcf;
  --color_hover_nav_icon: #fbb;
  --color_hover_nav_text: #fbb;
}

.input-wrapper {
  display:inline-block;
  position: relative;
}

.input-wrapper:after {
  font-family: 'FontAwesome';
  content: '\f002';
  color: var(--color_hover_nav_icon);
  position: absolute;
  right: .5rem;
  top: 10%;
}

#nav_search_text > input[type=text] {
  height: 1.7rem;
}

input[type=text] {
  border-radius: 50px;
  border: 1px solid red;
  padding: .2rem 1rem;
}

.menu_item_text {
  display: none;
}

.fa {
  color: var(--color_normal_nav_icon);
}

#home {
  margin-right: 1rem;
  display: inline;
}

#home_icon:hover {
  color: var(--color_hover_nav_icon);
}

#home_icon:active {
  color: var(--color_active_nav_icon);
}

.nav_item:hover {
  color: var(--color_hover_nav_text);
  background-color: transparent;
  font-size: 20px;
  margin-right: 1rem;
  position: relative;
}

nav {
  width: 80%;
  margin: auto;
}

#flex_container {
  display: flex;
  justify-content: space-around;
}

.menu {
  display: inline-block;
  width: 60%;
}

.right {
  float: right;
  padding: 0 1rem;
}

@keyframes slidein_add_recipe {
  from { transform: translateX(-3700%); } /* -5038% -290% */
  to   { transform: translateX(    0%); }
}

@keyframes slidein_cookbook {
  from { transform: translateX(-2800%); } /* -3640% -225% */
  to   { transform: translateX(    0%); }
}

@keyframes slidein_drink {
  from { transform: translateX(-2000%); } /* -2440% -325% */
  to   { transform: translateX(    0%); }
}

@keyframes slidein_dessert {
  from { transform: translateX(-1430%); } /* -2440% -325% */
  to   { transform: translateX(    0%); }
}

@keyframes slidein_main {
  from { transform: translateX(-1060%); } /* -1850% -110% */
  to   { transform: translateX(    0%); }
}

@keyframes slidein_first {
  from { transform: translateX(-800%); } /* -1380% -20% */
  to   { transform: translateX(    0%); }
}

#burger_menu {
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
}

.menu_item {
  visibility: hidden;
}

.slidein_add_recipe {
  visibility: visible;
  animation-duration: var(--slide_in_time);
  animation-name: slidein_add_recipe;
}

.slidein_cookbook {
  visibility: visible;
  animation-duration: var(--slide_in_time);
  animation-name: slidein_cookbook;
}

.slidein_drink {
  visibility: visible;
  animation-duration: var(--slide_in_time);
  animation-name: slidein_drink;
}

.slidein_dessert {
  visibility: visible;
  animation-duration: var(--slide_in_time);
  animation-name: slidein_dessert;
}

.slidein_main {
  visibility: visible;
  animation-duration: var(--slide_in_time);
  animation-name: slidein_main;
}

.slidein_first {
  visibility: visible;
  animation-duration: var(--slide_in_time);
  animation-name: slidein_first;
}

a {
  display: inline-block;    /* to make slidein on work on <a> */
  text-decoration: none;
}

#nav_logout,
#nav_logout_text,
#nav_login_text,
#nav_search_text {
  display: none;
}

.nav_log:hover {
  cursor: pointer;
}

.nav_login_out_text {
  color: var(--color_hover_nav_text);
}

.nav_log:hover{
  color: var(--color_hover_nav_text);
}

nav {
  padding-top: 2rem;
  font-size: 20px;
  min-height: 30px;
}


/******************************
 * logi-logout-register modal *
 ******************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--color_normal_nav_icon);
  margin: 15% auto;
  border: .3rem solid var(--color_hover_nav_icon);
  border-radius: 1rem;
  width: 30%;
}

/* The Close Button */
.modal_close {
  color: #aaa;
  float: right;
  margin-right: .5rem;
  font-size: 28px;
  font-weight: bold;
}

.modal_close:hover,
.modal_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

fieldset {
  margin: 1.5rem 1rem 1.5rem 1rem;
}

fieldset > div {
  margin: 10px auto;
}

fieldset > div > input {
  padding-left: 5px;
  margin-left: 10px;
  float: right;
}

.submit_button {
  float: right;
  margin: 5px 0 0 5px;
  background-color: var(--color_active_nav_text);
  max-width: 40%;
}