body, html, #page_wrapper {
  height: 100%;
}

body {
  background-color: black;
}

.grey_out {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.background_image {
    background-image: url("../images/wood.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

h1{
    font-family: "Gayathri", sans-serif;
    padding: 1rem 0 0 1rem;
    display: inline-block;
    color: #eef;
}

h2{
    font-family: "Gayathri", sans-serif;
    display: inline-block;
    color: #eef;
}

h3{
    background-image: linear-gradient(to right, #555, #eff);
    height: 20px;
    /* background-color: white; */
    color: #bcf;
    opacity: 0.8;
    background-blend-mode: screen;
    padding: .1rem 1rem .3rem 1rem;
}

a:link{
    color: white;
    text-decoration-line: none;
}

a:visited{
    color: white;
}

a:hover{
    
    color: grey;
}

/* +++++++++++++++++++++++++++++++++ */
/* Startseite mit Rezepten des Tages */
/* +++++++++++++++++++++++++++++++++ */

.alle_rezepte{
    padding: 50px;
    display: flex;
    flex: 1;
    flex-direction: row;
    
    /*width: 90vw;*/
    /*text-align: center;*/
}

.rezept{
    margin: 5px; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px;
    border-style: solid; 
    width: 20vw;
    height: 10vw;
    background-color: grey;
    position: relative;
}

.btn_choice{
    font-family: "Gayathri", sans-serif;
    margin-top: 50px;
    padding: 10px;
    color: #eef;
    border-style: solid;
}

.food_of_the_day{
    padding: 0 50px;
}

.rezept_des_tages {
    margin: 5px; 
    display: flex;
    flex: 1;

    /* box-sizing: border-box;
    border: 2px;
    border-style: solid; */
}

.hauptgericht_of_the_day{
    display: flex;
    width: 80vw;
    height: 200px;
}

.hauptgericht{
    /* background-image: url("../images/nudel_tomate.jpg"); */
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.drink_of_the_day{
    display: flex;
    width: 80vw;
    height: 200px;

}

.drink{
    /* background-image: url("../images/white_russin.jpg");  */
    background-size: cover;
    background-position: center center; 
    height: 100%;
    width: 100%;  
}

.dessert_of_the_day{
    display: flex;
    width: 80vw;
    height: 200px;   
}

.dessert{
    /* background-image: url("../images/tera.jpg"); */
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.vorspeise_of_the_day{
    display: flex;
    width: 80vw;
    height: 200px;  
}

.vorspeise{
    /* background-image: url("../images/tomatensuppe.jpg"); */
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.flex_container_reihe{
    display: flex;
    flex: 1;
    align-items: center;
}

/* +++++++++++++++++++++++++++++++++ */
/*          Alle Rezepte             */
/* +++++++++++++++++++++++++++++++++ */

.header{
    margin-left: 10%;
    text-align: left;
    align-items: center;
}


.filterHeader{
    text-align: center;
}

.alle_rezepte{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    /*width: 90vw;*/
    /*text-align: center;*/
}

.rezept{
    margin: 10px; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px;
    border-style: solid; 
    width: 80vw;
    height: 40vw;
    background-color: grey;
    position: relative;
}





.btn_choice{
    font-family: "Gayathri", sans-serif;
    margin: 50px 0px 10px 30px;
    color: #eef;
    border-style: solid;
    font-size: 20px;
    padding: 5%;
    

}

.header {
    margin-top: 40px;
    display: flex;
    
}


/* +++++++++++++++++++++++++++++++++ */
/*          Rezept Hinzufügen        */
/* +++++++++++++++++++++++++++++++++ */

.input_box > input {
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  padding-left: .5rem;
  min-width: 10rem;
}

.input_box > input:focus {
  box-shadow: 0 0 5px 2px blue;
}

.search_box {
    margin: auto;
    text-align: center;
    align-items: center;
}

.neues_Rezept > form {

  display: flex;
  flex-direction: column;
  padding: 10% 5% 10% 5%;
  background-image: url(../images/cutting_board.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 0 6% 0 6%;
  box-shadow: inset 0 0 5px 2px blue;
}

.input_box {
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.input_box_zubereitung {
    padding: 5px;
    height: 200px;
}

#add_btn {
  margin-top: 1rem;
  float: right;
}

label{
    position: initial;
    text-align: right;
    display: inline-block;
}

select, input{
    box-sizing:border-box;
}

h4 {
  padding-left: 5px;
  margin: 0;
  font-weight: normal;
}

/* +++++++++++++++++++++++++++++++++ */
/*          Rezept                   */
/* +++++++++++++++++++++++++++++++++ */


.show_Rezept{
    padding: 10px;
    margin: auto;
    display: flex;
    width: 80vw;
    height: 90%;
    background-image: url("../images/cutting_board.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex_container_reihe{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.show_Rezept {
    display: flex;
    flex-direction: column;
}

.zubereitung{
    margin: 5px; 
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px;
    border-style: solid; 
    width: 70vw;
    height: auto;
}



.edit_bar {
    margin: 5px; 
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px;
    border-style: solid; 
    width: 70vw;
    height: auto;
}

.edit_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.zutaten_mobile {
    margin: 5px; 
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px;
    border-style: solid; 
    width: 70vw;
    height: auto
    
}

/*
.ingredients_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
*/

.zutaten { 
    display: none;
    
}

.fa_hidden {
  display: none !important;
}

/* Fonts */
@font-face {
  font-family: Dosis;
  src: url(https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap);
}

@font-face {
  font-family: Gayathri;
  src: URL('../fonts/Gayathri-Thin.ttf') format('truetype');
  /* src: url("https://fonts.googleapis.com/css?family=Gayathri:100,400&display=swap&subset=malayalam"); */
}

@font-face {
  font-family: Tradewinds;
  src: url(https://fonts.gstatic.com/s/tradewinds/v8/AYCPpXPpYNIIT7h8-QenM0Jt5vM.woff2);
}

/*Responsive Design*/

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1000px) {

    /* +++++++++++++++++++++++++++++++++ */
    /*          Alle Rezepte             */
    /* +++++++++++++++++++++++++++++++++ */

    h1{
        font-family: "Gayathri", sans-serif;
        padding: 6rem 0 0 1rem;
        display: inline-block;
        color: #eef;
    }

    .alle_rezepte{
        padding: 50px;
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*width: 90vw;*/
        /*text-align: center;*/
    }

    .rezept{
        margin: 5px; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border: 2px;
        border-style: solid; 
        width: 20vw;
        height: 10vw;
        background-color: grey;
        position: relative;
    }

    .btn_choice{
        font-family: "Gayathri", sans-serif;
        margin-top: 50px;
        padding: 10px;
        color: #eef;
        border-style: solid;
    }
    
    /* +++++++++++++++++++++++++++++++++ */
    /* Startseite mit Rezepten des Tages */
    /* +++++++++++++++++++++++++++++++++ */

    .food_of_the_day{
        padding: 0 50px;
    }
    
    .rezept_des_tages {
        margin: 5px; 
        display: flex;
        flex: 1;
        flex-direction: column;
        /* box-sizing: border-box;
        border: 2px;
        border-style: solid; */
    }
    
    .hauptgericht_of_the_day{
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 200px;
        align-self: start;
    }
    
    .hauptgericht{
        /* background-image: url("../images/nudel_tomate.jpg"); */
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    
    .drink_of_the_day{
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 400px;
        justify-content: flex-start;  
    }
    
    .drink{
        /* background-image: url("../images/white_russin.jpg");  */
        background-size: cover;
        background-position: center center; 
        height: 100%;
        width: 100%;  
    }
    
    .dessert_of_the_day{
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 200px;   
    }
    
    .dessert{
        /* background-image: url("../images/tera.jpg"); */
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    
    .vorspeise_of_the_day{
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 200px;  
    }
    
    .vorspeise{
        /* background-image: url("../images/tomatensuppe.jpg"); */
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    
    .flex_container_reihe{
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .double_row {
        display: flex;
        flex-direction: row;
    }
    
    .double_col {
        display: flex;
        flex-direction: column;
    }
    
    /* +++++++++++++++++++++++++++++++++ */
    /*          Rezept                   */
    /* +++++++++++++++++++++++++++++++++ */


    .show_Rezept{
        padding: 50px;
        margin: auto;
        display: flex;
        width: 60vw;
        height: auto;
        background-image: url("../images/cutting_board.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .flex_container_reihe{
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .show_Rezept {
        display: flex;
        flex-direction: column;
    }

    .zubereitung{
        margin: 5px; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border: 2px;
        border-style: solid; 
        width: 30vw;
        height: auto;
    }


    .edit_bar {
        margin: 5px; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border: 2px;
        border-style: solid; 
        width: 30vw;
        height: auto;
    }

    .zutaten {
        margin: 5px; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border: 2px;
        border-style: solid; 
        height: auto;
        width: 10vw;
    }

    .fa_hidden {
    display: none !important;
    }

    .zutaten_mobile {
        display: none;
        
    }

    /* +++++++++++++++++++++++++++++++++ */
    /*          Rezept Hinzufügen        */
    /* +++++++++++++++++++++++++++++++++ */

    .input_box > input {
        display: inline-block;
        text-align: left;
        border-radius: 5px;
        padding-left: .5rem;
        min-width: 10rem;
    }
    
    .input_box > input:focus {
        box-shadow: 0 0 5px 2px blue;
    }
    
    .search_box {
        margin: auto;
        text-align: center;
        align-items: center;
    }
    
    .neues_Rezept > form {
        padding: 5%;
        background-image: url(../images/cutting_board.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 20%;
        align-items: left;
        border-radius: 15px;
        margin: auto;
        box-shadow: inset 0 0 5px 2px blue;
    }
    
    .input_box {
        padding: 5px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
    
    .input_box_zubereitung {
        padding: 5px;
        height: 200px;
    }
    
    #add_btn {
        margin-top: 1rem;
        float: right;
    }
    
    label{
        position: initial;
        text-align: right;
        display: inline-block;
    }
    
    select, input{
        box-sizing:border-box;
    }
    
    h4 {
        padding-left: 5px;
        margin: 0;
        font-weight: normal;
    }

            
        
    }