body{
    background: white;
}

.food_of_the_day{
    margin: 50px 50px;
}

.recipes{
    display: flex;
    margin-bottom: 50px;
}

.recipe{
    width: 30%;
    border: 2px;
    border-style: solid;
    margin-bottom: 30px;
    padding-bottom: 50px;
}